<div class="main-layout">
    <div class="nav">
        <nav-bar />
    </div>
    <div class="aside">Aside</div>
    <div class="main">Main</div>
</div>

<style>
    .main-layout {
        display: grid;
        grid-template-areas: 'nav' 'main';
    }

    .nav {
        grid-area: nav;
    }

    .main {
        grid-area: main;
    }

    .aside {
        display: none;
        grid-area: aside;
    }

    @media screen and (min-width: 1024px) {
        .main-layout {
            grid-template-areas: 'nav nav' 'aside main';
        }

        .aside {
            display: block;
        }
    }
</style>
