<div class="main-layout">
    <div class="nav">
        <nav-bar />
    </div>
    <div class="aside">
        <genre-list
            (selectGenre)="handleSelectedGenre($event)"
            [selectedGenre]="gameQuery.genre"
        />
    </div>
    <div class="main">
        <div class="flex gap-6 px-2 mb-4">
            <platform-selector
                (selectPlatform)="handleSelectPlatform($event)"
            />
            <sort-selector />
        </div>
        <game-grid [gameQuery]="gameQuery" />
    </div>
</div>

<style>
    .main-layout {
        display: grid;
        grid-template-areas: 'nav' 'main';
        grid-template-columns: 1fr;
    }

    .nav {
        grid-area: nav;
    }

    .main {
        grid-area: main;
    }

    .aside {
        display: none;
        grid-area: aside;
        padding-inline: 20px;
    }

    @media screen and (min-width: 1024px) {
        .main-layout {
            grid-template-areas: 'nav nav' 'aside main';
            grid-template-columns: 200px 1fr;
        }

        .aside {
            display: block;
        }
    }
</style>
